<tr>
  <th scope="row"><%= emission_data_import.id %></th>
  <td><%= emission_data_import.source %></td>
  <td><%= emission_data_import.quantity %></td>
  <td><%= emission_data_import.unit %></td>
  <td><%= emission_data_import.emission_factor %></td>
  <td><%= emission_data_import.result %></td>
</tr>